.formulario {
    width: 100%;
    display: flex;
    justify-content: center;

}

.formulario form {
    width: 70%;
    background-color: #f2f2f2;
    margin: 80px 0;
    padding: 0 100px 100px 100px;
    border-radius: 20px;

    
}

.formulario form h1 {
    padding: 30px 0;
    text-align: center;
    font-size: 32px;

}